@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(218, 28%, 13%);
    Font-size: 14px;
max-width:1440px;
}
.overallnavdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin: 1rem 2.5rem;
}
.nav-list a{
    margin-left: 2rem;
  font-family: 'Open sans';
  font-size: 400;
  color:hsl(0, 4%, 66%) ;
 text-decoration: none;
}
.nav-list a:hover{
    text-decoration: underline;
    color: hsl(0, 0%, 100%);
}
.intro-img{
    display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  height: 100vh;  
}
img {
    max-width: 100%;
    height: auto;
  }
  .fylo-h1{
    text-align: center;
    font-family: 'Raleway';
    font-size: 28px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    line-height: 2.5rem;
  }
 
  .intro-p{
    color:hsl(0, 4%, 66%) ;
    font-family: 'Open sans';
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 1rem;
  }
  .intro-btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn {
    background-color: #4fc4d4; /* green */
    color:hsl(0, 0%, 100%);
    padding: 8px 60px;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Open sans';
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #616490;
  }
  
  .btn:active {
    background-color: #554f72;
  }
  .overall-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 3rem;
    line-height: 20px;
  }
  .access-div,
  .security-div {
    flex: 1 1 45%; /* Responsive sizing */
    max-width: 50%;
    padding: 2rem;
    text-align: center;
    
  }
  .access-h3, .security-h3{
    color: hsl(0, 0%, 100%);
    font-family: 'Raleway';
    font-weight: 700;
    padding: 0.5rem;
  }
  .access-p, .security-p{
    color: hsl(0, 3%, 49%);
    font-family: 'Raleway';
    font-weight: 700;
    padding: 0.5rem;
    text-align: center;
    line-height: 1rem;
  }
  .stay-div{
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
    line-height: 20px;
  }
.stay-div2 h2{
  color:hsl(0, 0%, 100%);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  padding: 0.5rem;
}
.stay-div2 p{
  color:hsl(0, 26%, 92%);
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0.5rem;
}
.fylo-button{
  color:#4fc4d4;
  font-family: 'Open Sans';
  margin-left: 0.5rem;
  font-size: 14px;
  line-height: 20px;
}
.arrow{
 position: relative;
 top: 5px;
}